<style>
    .message-content{
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 18px;
    }


</style>

<div class="message-content">
    <p>Olá {{name}}!</p>
    <p>recebemos uma solicitação de redefinição de senha para sua conta de user</p>
    <p>se realmente foi vc que solicitou clique no link para escolher uma nova senha</p>
    <p><a href="{{link}}"> REsetar minha senha</a></p>
    <p>caso n tenha sido vc descate esse email</p>
    <br>
    <p>obg</p>
    <p>Equipe API vendas</p>
</div>