body{
    background-color: rgb(224, 241, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titulo{
    text-align: center;
    color: darkblue;
    text-transform: capitalize;
    font-size: 40px;
}

.titulo2{
    text-indent: 80px;
    color: blueviolet;
    font-size: 30px;
    text-transform: capitalize;
}

li{
    text-transform: capitalize;    
    list-style-type:lower-greek;
}

a:link{
    color:rgb(0, 0, 255);
    background-color: rgb(186, 224, 255);
}
a:visited{
    color: darkblue;
    background-color: black;
}
