:root {
    --header-height: 24rem;
}

@font-face {
    font-family: titles;
    src: url('../02-CSS/DancingScript-VariableFont_wght.ttf');
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6em;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.gridContainer {
    width: 100vw;
    height: 150vh;
    background-color: rgb(224, 241, 255);
    display: grid;
    grid-template:
        "header header header header" var(--header-height) "aside main main main" 1fr;
}

.gridItem {
    padding: 10px;
    font-family: sans-serif;
}

.header {
    /*grid-column: 1 /-1;*/
    grid-area: header;
    background-color: rgb(180, 215, 245);
    border: 0.5em solid black;
    position: fixed;
    height: var(--header-height);
}

.header img {
    width: 10%;
    border: 1em groove gray;
    margin-left: 15em;
}

h1 {
    font-family: 'titles', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4em;
    display: inline;
    color: darkblue;
    margin-left: 20em;
    margin-bottom: 5em;
}

.aside {
    grid-area: aside;
    border: 0.5em outset black;
}

.main {
    grid-area: main;
    border: 0.5em outset black;
}

.titulo2 {
    font-family: "titles", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
    font-size: 3em;
    text-transform: capitalize;
}


li {
    font-size: 1.6em;
    text-transform: capitalize;
    list-style-type: lower-greek;
    width: fit-content;
}

a:link {
    color: rgb(0, 0, 255);
    background-color: rgb(186, 224, 255);
}

a:visited {
    color: darkblue;
}

.item {
    /*background-color: blanchedalmond; */
    margin-bottom: 10px;
    margin: 5px;
}


@media screen and (max-width: 70em) {
header {
    height: 15em;
}

header img {
    margin-left: 15em;
}

h1 {
    margin-left: 10em;
}

main {
    margin-top: 15em;
}

}

